/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/
body {
 /*background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
 background-color: #d6d6d6;
 color: #000000;
 font-family: 'Lato', sans-serif;
 line-height: 1.7; /* line-height is unit-less */
 font-size: 100%;
 padding: 15px;
 margin: 10px;
} 
header{
     margin: auto;
}
h2{
     margin: 10px 0px;
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}


/*---------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
div{
     width: 1000px;
     margin: auto 0px;
     
}
#container{
     background-color: whitesmoke;
}
section{
     float: left;
     width:700px;
     margin: 0px 0px 0px 5px;

}
article{
     
     float: left;  
     margin: 0px auto; 
     width: 700px;
}

aside{
     float: left;
     width: 400px;
     
}
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

footer{
     clear: both;
     width: 700px;
     margin: 0px 0px 0px 5px;
}
